<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>QuangTungWeb - Siêu thị điện thoại, laptop Chính hãng</title>
    <meta name="keywords" content="điện thoại di động, dtdd, smartphone, Laptop, máy tính xách tay, phụ kiện điện thoại, tin công nghệ">
    <meta name="description" content="Hệ thống bán lẻ điện thoại di động, smartphone, laptop, phụ kiện chính hãng mới nhất, giá tốt.">
    <meta property="og:title" content="Aztech - Siêu thị điện thoại, Laptop, Phụ kiện chính hãng">
    <meta property="og:description" content="Hệ thống bán lẻ điện thoại di động, smartphone, laptop, phụ kiện chính hãng mới nhất, giá tốt.">
    <meta content="INDEX,FOLLOW" name="robots">
    <meta name="viewport" content="width=device-width">
    <meta name="copyright" content="Aztech">
    <meta name="author" content="Aztech">
    <meta http-equiv="audience" content="General">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="revisit-after" content="1 days">
    <meta name="GENERATOR" content="Aztech">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    @*<meta property="og:site_name" content="Thegioididong.com">*@
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    @*<meta property="fb:pages" content="214993791879039">*@
    <meta http-equiv="x-dns-prefetch-control" content="on">
    @*<link rel="stylesheet" type="text/css" href="~/css/style.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/chatcore.css" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
</head>
<body>
    @{Html.RenderAction("_Header", "Shared");}
    @RenderBody()
    @{Html.RenderAction("Footer_", "Shared");}
    <p id="back-top">
        <a href="#top" title="Về Đầu Trang"><span></span></a>
    </p>
</body>
</html>
