.icontgdd-mobile.custom_icon_loaisp {
    width: 50px;
}

.my-header {
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 55px;
    padding:0!important;
}
