@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/puchase-style.css" />
<link rel="stylesheet" type="text/css" href="~/css/customstyle.css" />

<section id="wrap_cart" style="margin-bottom:20px;">
    <div class="bar-top">
        <a href="/" class="buymore">Mua thêm sản phẩm khác</a>
        <div class="yourcart">Giỏ hàng của bạn</div>
    </div>
    <div class="wrap_cart">
        <div class="detail_cart" style="text-align:center; height:400px; display:flex; align-items:center; margin:30px">
            <div style="width:100%;text-align:center">
                <img src="~/images/happyface.png" width="200" height="200" />
                <br />
                <p>Cảm ơn anh/chị đã cho chúng tôi cơ hội được phục vụ. Trong 20 phút, nhân viên chúng tôi sẽ gọi điện xác nhận đơn hàng của anh/chị<p><br />
                <p>Tổng đài điện thoại không làm việc trong 2 ngày cuối tuần và các ngày lễ tết.<p>
            </div>
        </div>
    </div>
</section>
